{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/header_style.css') }}">
{% endblock %}
<header class="main-header">
    <div id="header">
        <a href="/" class="logo">
            <img src="{{ asset('images/logo_rvb.png') }}" class="user-image"/>
        </a>
        {% if app.user %}
            <div id="deconnexion" class="navbar navbar-static-top">
                <p>Bienvenue {{ app.user.fullname|capitalize }}, vous êtes : {{ app.user.getRoles()[0]|capitalize }}</p>
                <a href="/logout">
                    <input type='button' value='Se déconnecter'>
                </a>
            </div>
    </div>
</header>
<aside class="main-sidebar">
            <ul id="menu" class="sidebar-menu tree" data-widget="tree">
                <li class="header">Menu</li>
                <li><a href="/">Consultation</a></li>
                <li><a href="/">Retrait de produit</a></li>
                <li><a href="/">Gestion des stocks</a></li>
                <li><a href="/">Historique</a></li>
                {% if app.user.getRoles()[0] == 'administrateur' %}
                    <li><a href="/admin">Administration</a></li>
                {% endif %}
            </ul>
</aside>
        {% endif %}

        {% if app.user is null %}
            <div id="connexion">
                <a href="/login">
                    <input type='button' value='Se connecter'>
                </a>
            </div>
    </div>
    </header>
        {% endif %}

